ISET2018_WebServicesUtilisation/Connected Services/UtiliserServiceHEL/ServiceHEL1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7292/ServiceHEL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ISET2018_WebServices" />
  <xs:element name="HelloWorld">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ISET2018_WebServices" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ISET2018_WebServices" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonneByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonneByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ISET2018_WebServices" minOccurs="0" name="GetPersonneByIDResult" nillable="true" type="q3:WS_Personne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>