ISET2018_WebServicesUtilisation/Connected Services/UtiliserServiceHEL/ServiceHEL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceHEL" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7292/ServiceHEL.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7292/ServiceHEL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7292/ServiceHEL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ISET2018_WebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceHEL_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IServiceHEL_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHEL_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceHEL_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHEL_GetPersonneByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonneByID" />
  </wsdl:message>
  <wsdl:message name="IServiceHEL_GetPersonneByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonneByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHEL_TryLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:TryLogin" />
  </wsdl:message>
  <wsdl:message name="IServiceHEL_TryLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceHEL">
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHEL/HelloWorld" message="tns:IServiceHEL_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHEL/HelloWorldResponse" message="tns:IServiceHEL_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHEL/GetDataUsingDataContract" message="tns:IServiceHEL_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHEL/GetDataUsingDataContractResponse" message="tns:IServiceHEL_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonneByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHEL/GetPersonneByID" message="tns:IServiceHEL_GetPersonneByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHEL/GetPersonneByIDResponse" message="tns:IServiceHEL_GetPersonneByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHEL/TryLogin" message="tns:IServiceHEL_TryLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHEL/TryLoginResponse" message="tns:IServiceHEL_TryLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceHEL" type="tns:IServiceHEL">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/IServiceHEL/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceHEL/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonneByID">
      <soap:operation soapAction="http://tempuri.org/IServiceHEL/GetPersonneByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryLogin">
      <soap:operation soapAction="http://tempuri.org/IServiceHEL/TryLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceHEL">
    <wsdl:port name="BasicHttpBinding_IServiceHEL" binding="tns:BasicHttpBinding_IServiceHEL">
      <soap:address location="http://localhost:7292/ServiceHEL.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>